.container {
    @include flex(row, center, flex-start);
  }
  
  .contactForm {
    @include flex(column, space-around, flex-start);
    height: 400px;
  }
  
  .contactMain {
    margin-top: 40px;
    @include flex(column, space-around, center);
    width: 100%;
  }
  .contactImg {
    @include flex(column, space-around, flex-start);
    height: 600px;
    
  }

  form {
    p {
        font-size: 13px
    }
  }


iframe {
    width: 230px;
    height: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .mapImg {
    width: 230px;
    height: 230px;
    margin-bottom: 30px;
  }
  
  input,
  textarea,
  select,
  button {
    border: none;
    border-radius: 5%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 230px;
  }
  
  button {
    font-weight: bold;
    background: lightblue;
  }
  
  .textarea {
    height: 250px;
  }
  
  @media (mion-width: 800px) {

    iframe {
        width: 250px;
        height: 250px;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .mapImg {
        width: 250px;
        height: 250px;
        margin-bottom: 0;
      }


  }
  
  
  @media (min-width: 900px) {
    .contactMain {
      margin-top: 40px;
      @include flex(row, space-evenly, center);
    }
    iframe {
      width: 300px;
      height: 300px;
    }
  
    .mapImg {
      width: 300px;
      height: 300px;
    }
  }


