footer {
  height: 200px;
  width: 100%;
  color: white;
  background-color: rgb(87, 87, 87);
  @include flex(row, space-around, flex-start);
  padding: 20px;
 
  
}

.logoFooter {
  width: 80px;
}

.divFooter {
  @include flex(column, space-around, center);
 
  height: 100%;

}

.footerlinks {
  color: white;
  font-size: 80%;
}

.linkFooter {
  @include flex(column, flex-start, flex-end);
}


@media (min-width: 800px) {
  footer {
    height: 140px;
    width: 100%;
    @include flex(row, space-around, flex-start);
    
  }
  .divFooter {
    height: 100%;
    @include flex(column, space-between, flex-start);
    p{
      font-size: 12px;
    }
  }
  .linkFooter {
    margin-top: 10px;
    height: 100%;
    @include flex(row, space-between,flex-start);
    font-size: 22px;
    width: 630px;
  }

  .logoFooter {
    width: 90px;
  }


}

