// ---------HEADER-----------

.zoomTitle {
  @include highlight();
}

.homePage {
  @include highlight();
}

.product {
  @include highlight();
}

.references {
  @include highlight();
}

.about {
  @include highlight();
}

.contact {
  @include highlight();
}

header {
  border-bottom: 1px solid lightgrey;
  font-family: $fontOne;
  padding: 0 20px;
  // background-color: #ebebeb;
  color: #222;
  height: 60px;
  @include flex(row, space-around, flex-start);

  a {
    text-decoration: none;
  }
}

span {
  font-size: 15px;
}

.desktopBrand {
  display: none;
}

.mobileStartDiv {
  width: 100%;
  @include flex(row, space-between, center);
}

.mobileLogo {
  width: 60px;
  height: 60px;
}

.mobileBrand {
  width: 50px;
  height: 50px;
}

#hamburger-icon {
  margin: auto 15px;
  display: none;
  cursor: pointer;
  display: block;
  z-index: 3;
  div {
    width: 30px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    transition: 0.4s;
  }
}

ul {
  list-style: none;
  height: 100%;
  @include flex(row, space-around, center);
}

ul {
  a {
    color: #222;
  }
  li {
    padding: 5px;
  }

  li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.open {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .mobile-menu {
    @include flex(column, flex-start, center);
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  background: rgb(146, 146, 146);
  top: 60px;
  left: 0;
  height: 270px;
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

header {
  nav {
    display: none;
    a {
      color: black;
    }
  }
}
@media (min-width: 800px) {
  header {
    height: 70px;
    @include flex(row, center, flex-start);
    nav {
      height: 70px;
      display: block;
    }
  }

  .mobileStartDiv {
    display: none;
  }
  .desktopBrand {
    display: block;
    position: absolute;
    left: 20px;
    img {
      width: 65px;
    }
  }
}
