.welcomeStart{
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
}

.startSidaBild{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.welcome{
    font-family: $fontTwo;
    font-size: 30px;
    margin-bottom: 60px;
    text-decoration: underline;
    font-weight: 400;
}

@media(min-width: 800px){
    .startSidaBild{
        width: 500px;
        height: 500px;
        margin-bottom: 30px;
    }
    .welcome{
        font-size: 40px;
    }
}