// MAIN PRODUCTSITE------------------

.productWrap {
  height: 100%;
}

.productDiv {
  
}

.imgProduct {
  border-radius: 100%;
  width: 100%;
}

.productDiv {
  @include flex(column, flex-start, center);
}

.linkProduct {
  text-align: center;
  width: 40%;
  height: 100%;
  margin: 20px 0 20px 0;
  border-radius: 100%;
  text-decoration: none;
  color: black;
}

.productTitle {
  margin-top: 40px;
}



.shoes {
  @include flex(column, space-around, center);
  width: 100%;
}

.cardShoes {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  @include flex(column, flex-start, center);
  height: 400px;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;


 h2 {
    font-size: 14px
 }

 select {
    width: 110px;
    
 }
 button {
    width: 110px;
    font-size: 10px;
    background: orange;
}

    .container {
        @include flex(column, flex-start, center)
    }

    .pantsProduct {
        height: 64%;
    }

    .shirtImg {
    height: 64%;
    }

    .productImg {
        height: 64%;
    }

}

.cardShoes:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
}
.cardShoes img {
  width: 100%;
  height: 70%;
}



@media (min-width: 800px) {
  .imgProduct {
    border-radius: 100%;
    width: 80%;
  }

  .productDiv {
    width: 80%;
    height: 100%;
    @include flex(row, space-between, center);
  }

  .productWrap {
    @include flex(column, space-around, center);
  }


  .shoes {
    @include flex(row, center, center);
    
    .cardShoes {
        margin: 35px;
        width: 300px;
        height: 500px;
    }

    h2 {
        font-size: 14px
     }
    
     select {
        width: 150px;
        
     }
     button {
        width: 150px;
        height: 30px;
        font-size: 10px;
        background: orange;
    }


}



}
// SLUT MAIN------------------


// SKOR-------------------




