$fontOne: "poppins", sans-serif;
$fontTwo: 'Dosis', sans-serif;
$fontThree: 'Rubik Mono One', sans-serif;
$backgroundOne: #ffffff;
$backgroundTwo: #d3d3d3;
$backgroundThree: #b1b1b1;
$buttonColor: peachpuff;

$sizeCardMobile: 16px;
$sizeTitleMobile: 30px;
$sizeTitleDesktop: 32px;

$inputHeight: 30px;
$selectHeight: 30px;
