@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/about";
@import "./partials/contact";
@import "./partials/product";
@import "./partials/recensioner";
 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ebebeb;
  color: black;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



h3 {
  font-weight: 400;
  font-size: 16px;
}

.logo {
  width: 100px;
  position: absolute;
  left: 20px;
}

// .mobileStartDiv {
//   width: 100%;
//   @include flex(row, center, flex-start);
//   position: relative;
//   left: 2%;
// }


.start{
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
}

.slider-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 650px;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes slide_animation{
  0%{left:0px}
  10%{left:0px}
  20%{left:1200px}
  30%{left:1200px}
  40%{left:2400px}
  50%{left:2400px}
  60%{left:1200px}
  70%{left:1200px}
  80%{left:0px}
  90%{left:0px}
  100%{left:0px}
}

.slide-images{
  width: 3800px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name:slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}





// SHOE.HTML---------------------------




.cardProd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin: 40px;
}

.cardProd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
